#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table {
  border-collapse: collapse;

  thead>tr {
    background-color: rgba(255, 255, 255, 0.05);
  }

  tr {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  th,
  td {
    padding: 8px 16px;
    text-align: start;
  }

  th:first-child,
  td:first-child {
    padding-left: 8px;
  }

  th:last-child,
  td:last-child {
    padding-right: 8px;
  }

  caption {
    padding: 8px;
    caption-side: bottom;
  }
}

.boldText {
  font-weight: 500;
}